<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1032276204467-51rshci0jo87admgrk3nbiam3h919f8c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1032276204467-51rshci0jo87admgrk3nbiam3h919f8c</string>
	<key>API_KEY</key>
	<string>AIzaSyDnRF6C_WSNb83BijgSADjHl5EnqHcg_uU</string>
	<key>GCM_SENDER_ID</key>
	<string>1032276204467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterloginindemo</string>
	<key>PROJECT_ID</key>
	<string>flutterloginindemo-f01e7</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterloginindemo-f01e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1032276204467:ios:d0b230dfbf24a7a69c49c6</string>
	<key>DATABASE_URL</key>
	<string>https://flutterloginindemo-f01e7-default-rtdb.firebaseio.com</string>
</dict>
</plist>